
/** Default settings for each page */
*{
    margin: 0;
    padding: 0;
}

/** Preventing images & elements going across the screen */
html{
    overflow-x: hidden;
    overflow-y: hidden;
}


//////////////////////////////////////////////////////////////////////////////////


/** header.jsx & mobileheader.jsx component styling */

nav{
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 45px;
    position: fixed;
    width: 100vw;
    z-index: 9999;
    max-height: 100%;

    ul{
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: row;

        li{
            list-style: none;
            margin: 0px 21.5px;
            font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            font-size: 12px;
            color: #d6d6d7;
            cursor: pointer;
            transition: ease-in .25s;
            font-weight: 100;
            letter-spacing: -.05px;

            img{
                padding-top: 5px;
                filter: brightness(.6);
                transition: ease-in .2s;
            }

            img:hover{
                filter: brightness(2);
                transition: ease-in .2s;
            }

            .search-icon{
                padding-bottom: 47px;
                filter: brightness(1);
            }

            .search-icon:hover{
                filter: brightness(2.25);
                transition: ease-in .2s;
            }
        }

        li:hover{ 
            color: #f5f5f7;
            transition: ease-in .1s;
        }
    }
}

.mobile-nav{
    display: none;
}

@media screen and (max-width:1035px){
    nav{
        display: none;
    }
    

    .mobile-nav{
        background: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        height: 50px;
        position: fixed;
        width: 100vw;
        z-index: 9999;
        max-height: 100%;

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            width: 87%;

            .apple-ham{
                .ham-line:nth-child(1){
                    width: 15px;
                    height: .75px;
                    background-color: rgb(210, 210, 210);
                    margin: 3px 0;
                    padding-bottom: 2px;
                }
                .ham-line:nth-child(2){
                    width: 15px;
                    height: .75px;
                    background-color: rgb(168, 168, 168);
                    margin: 3px 0;
                    padding-bottom: 2px;
                }

            }

            li{
                padding-left:0%;
                list-style: none;
            }

            li:hover{
                cursor: pointer;
            }
        }
    }

}


//////////////////////////////////////////////////////////////////////////////////


/** holidaygift.jsx component styling */

.holiday-gift-section{
    background: rgba(255, 21, 21, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 45px;
    width: 100vw;
    z-index: 9999;
    max-height: 100%;
    padding-top: 45px;

    p{
        font-size: 13px;
        color: #f5f5f7;
    }
}


//////////////////////////////////////////////////////////////////////////////////


/** ipad.js component styling*/

.ipad-section{
    
    img{
        height: 500px;
        width: 79.5%;
        scale: 125.3%;
        padding-top: 56px;
    }

    .ipad-text-container{
        position: absolute;
        top: 39%;
        left: 64%;
        transform: translate(-50%, -50%);

        h1{
            font-size: 56px;
            line-height: 1.07143;
            font-weight: 600;
            letter-spacing: -.005em;
            font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        }

        p{
            font-size: 28px;
            line-height: 1.10722;
            font-weight: 400;
            letter-spacing: .004em;
            font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            margin-top: 6px;
            color: #1d1d1f;
        }

        .links{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            width: 94%;

            a{
                color: #06c;
                letter-spacing: inherit;
                font-size: 23px;
                line-height: 1.381;
                font-weight: 100;
                font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
                padding-top: 5px;
                text-decoration: none;

            }
            a:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

}